.logo1{
    width: 100px;
    
}

.p1{
    width: 400px;
    color: aliceblue;
    padding: 100px;
    font-size: 30px;

}


.princ{
    width: 100%;
    height: 700px;
    background-image: url(../assets/images/banner-bk.jpg);

}
.boton{
    align-items: center;
    color: rgb(0, 17, 32);
    width: 200px;
    height: 40px;
    text-align: center;
     border-radius: 35px 35px;
    background-color: rgb(30, 221, 148);
   
}
.text2{
    color: aliceblue;
    width: 500px;
    height: 80px;
}
.contenedores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 550px;
    
}
.t1{
    justify-content: center;
    height: 150px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    margin-top: 30px;
    font-size: 50px;
}
.title{
   display:flex;
    width: 1000px;
    height: 50px;
    font-size:20px;
}

.boton2{
    
    align-items: center;
    background-color: rgb(1, 1, 59);
    color: aliceblue;
    width: 120px;
    height: 30px;
    text-align: center;
     border-radius: 35px 35px;
}
.dos{
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    height: 600px;
    
}

.take{
    display: flex;
    width: 100%;
    
    background: linear-gradient(165deg, #ffff 50%,rgb(3, 255, 179)50%);
    justify-content: space-evenly;
}

.texto{
    
    width: 800px;
    height: 300px;
   font-size: 25px
    
}
.parte3{
    display: flex;
justify-content: space-evenly;
background-color: rgb(3, 255, 179);
} 
.d{
    font-size: 50px;
}
.z{
    font-size: 50px;
}
.text3{
    width: 800px;
    height: 300px;
   font-size: 25px
}
.cuatro{
    display: flex;
    justify-content: space-evenly;
     
     height:500px;
 
}
.boton3{
    align-items: center;
    background-color: rgb(235, 235, 245);
    color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    text-align: center;
     border-radius: 35px 35px;  

}
.boton4{
    align-items: center;
    background-color: rgb(70, 247, 149);
    color: rgb(0, 4, 8);
    width: 120px;
    height: 30px;
    text-align: center;
     border-radius: 35px 35px;
}
.boton5{
    align-items: center;
    background-color: rgb(235, 235, 245);
    color: rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    text-align: center;
     border-radius: 35px 35px; 
}
.p{
   margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 100px;
}
.conta{
    
    width: 500px;
    margin-top: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.uno1{
    text-align: center;
   padding: 20px;
   width:200px;
}
.dos2{
    background-color: rgb(2, 11, 65);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    width:300px;
    height: 400px;
}
.tres3{
    text-align: center;
}
.uno{
    font-size: 90px;
}
.do{
    font-size: 90px;
}
.cinco{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgb(236, 234, 234);
    color: aliceblue;
    height: 200px;
}
.seis{
    display: flex;
    justify-content: space-around;
    height: 400px;
    color: aliceblue;
    background-image: url(../assets/images/contact-bk.jpg)

}
.botones{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 800px;
    
}
.colum{
    display: flex;
    width: 390px;
    justify-content: center;
    font-size: 20px;
    
}
.boton6{
    display: flex;
    border: 1px solid #07f0a2;
    background-color: #192440;
    margin: 10px;
    width: 150px;
    height: 25px;
    border-radius: 5px 5px;
    
}
.boton7{
    display: flex;
    border: 1px solid #07f0a2;
    width: 240px;
    height: 25px;
    background-color: #192440;
    border-radius: 5px 5px;
}
.boton8{
    display: flex;
    border: 1px solid #07f0a2;
    background-color: #192440;
    width: 400px;
    height: 70px;
    border-radius: 5px 5px;
}
.boton9{
    align-items: center;
    margin-top: 25px;
    width: 450px;
    height: 30px;
    background-color: rgb(70, 247, 149);
    color: rgb(0, 4, 8);
    width: 400px;
    text-align: center;
     border-radius: 35px 35px
}
.men{
    display: flex;
    flex-direction: column;
    
}
footer{
    
    
    color: aliceblue;
    background-color: rgb(1, 1, 59);
    height: 100px;
   
}
.n{
    display: flex;
   margin-left: 40px;
}
.logos{

    display: flex;
    justify-content: space-between;
    margin: 1200px;
    margin-top: 3px;
    width: 200px;
    height: 40px;
}
@media (min-width: 480em){
    body{
        background-color: antiquewhite;
    }
    
    }


 


@media (min-width: 481em){
    body{
        background-color: black;
    }
}
@media (min-width: 769em){
    body{
        background-color: #192440;
    }
}
